@namespace web_test_blazer_server.Shared._Site
@inherits BaseBackground<MediaVideoData>


<div style="width:100%; height:100%; @BackgroundColor()">
    <div id="@Id" class="section-background-content w-video w-embed + @Class">
        @Src()
    </div>
</div>