@using web_test_blazer_server.Shared.Airtable

@namespace web_test_blazer_server.Shared.Editor


<div class="bg-white editor-main-top" Style="overflow: hidden; height: 100%">
    <Selection></Selection>
    <Divider DividerType="DividerType.Dashed" />
    <SplitDivider />
</div>