@using web_test_blazer_server.Shared.Airtable;

@namespace web_test_blazer_server.Shared.Editor


<div class="bg-white editor-main-bot" Style="overflow: hidden; padding: 5px;">
    <Structure />
    <div class="bg-white w-layout-vflex editor-footer">
        <Divider DividerType="DividerType.Dashed" />
        <Footer></Footer>
    </div>
</div>