@namespace  web_test_blazer_server.Shared._Core

<Field>
    <div class="input-group mb-3">
        @ChildContent
        <span class="input-group-text" id="basic-addon2">
            <Tooltip Text="@ToolTipText" Placement="TooltipPlacement.Left" Class="label-badge">
                <Badge Color="@BadgeColor">@BadgeLabel</Badge>
            </Tooltip>
        </span>
    </div>
</Field>
