@namespace web_test_blazer_server.Shared.Airtable


<div class="row align-items-start">
    <div class="btn-group" role="group" aria-label="row controls">
        <div class="col-1">
            <div class="row align-items-start">
                <div class="btn-group" role="group" aria-label="row bookmark">
                    <RowBookmark></RowBookmark>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row align-items-start">
                    <RowSelect></RowSelect>
            </div>
        </div>

        <div class="col-2">
            <div class="row align-items-start">
                <div class="btn-group" role="group" aria-label="row delete & duplicate">
                    <RowDelete></RowDelete>
                    <RowDuplicate></RowDuplicate>
                </div>
            </div>
        </div>
    </div>
</div>






