@namespace web_test_blazer_server.Shared.Airtable


@{
    Visible.Add("a", false);
    Visible.Add("b", false);
    Visible.Add("c", true);
}

<DividerSticky />
<div>
    <Accordion Class="tables-accordion">
        <TableAir AccVisible="@Visible["a"]" Label="table a" />
        <TableAir AccVisible="@Visible["b"]" Label="table b" />
        <TableAir AccVisible="@Visible["c"]" Label="table c" />
    </Accordion>
</div>
<Divider DividerType="DividerType.Dashed"/>