@namespace web_test_blazer_server.Shared._Core


@inherits ParentComponent

<Field>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">
            @ParentRenderFragment
        </span>
    </div>
</Field>

@code {

    RenderFragment ParentRenderFragment => builder =>
    {
        builder.OpenComponent<ParentComponent>(1);
        builder.AddAttribute(2, "ChildContent", this.ChildContent);
        // Additional inherited parameter's here
        builder.CloseComponent();
    };

}
