@namespace web_test_blazer_server.Shared._Core

@inherits FBase;

@{
    base.BuildRenderTree(__builder);
}


<Field>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">
            @ChildContent
            <Tooltip Text="@ToolTipText" Placement="TooltipPlacement.Left" Class="label-badge">
                <Badge Color="@BadgeColor">@BadgeLabel</Badge>
            </Tooltip>
        </span>
    </div>
</Field>