@namespace web_test_blazer_server.Shared._Core


<h3>widget</h3>
<span>Iam @Name (@Down)</span>
<span>Msg from button (@Up)</span>

<div class="bordered">
    <TestElement Name="elm" SendUp="SentUpwards"></TestElement>
</div>