@namespace web_test_blazer_server.Shared.Editor

@inherits ABase;

@{
    base.BuildRenderTree(__builder);
}



<Button Color="Color.Primary" Clicked="@OnInvoke">
    <Icon Name="IconName.ArrowRight" />
</Button>