@namespace web_test_blazer_server.Shared.Editor

@inherits ABase;

@{
    base.BuildRenderTree(__builder);
}



<Button Color="Color.Light" Size="Size.ExtraSmall" Clicked="@OnInvoke">

    @if(AccordionSingle == true) { 
        <Icon Name="IconName.Check" />
    }
        else
    {
        <Icon Name="IconName.CheckDouble" />
    }
</Button>