@page "/"
@using web_test_blazer_server.Shared._Core;
@using web_test_blazer_server.Data.Airtable;

<PageTitle>Index</PageTitle>

<a Size="Size.ExtraLarge" href="/editor/">edit</a>

<h1>Hello, world!</h1>

Welcome to your new app. jajaja

<SurveyPrompt Title="How is Blazor working for you?" />