@page "/"
@using web_test_blazer_server.Shared._Core;



<PageTitle>Index</PageTitle>

<PNL_Website />

<div class="open-editor-container">
    <a href="/editor"><Button Color="Color.Primary"><Icon Name="IconName.ArrowLeft" /></Button></a>
</div>