
.w-embed-youtubevideo {
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
    background-position: 50%;
    background-size: cover;
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

    .w-embed-youtubevideo:empty {
        min-height: 75px;
        padding-bottom: 56.25%;
    }

body {
    color: #333;
    background-color: #131313;
    font-family: Exo, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

p {
    margin-bottom: 10px;
    font-size: .9em;
}

.c-content {
    color: var(--grey6);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: block;
}

._w-content {
    justify-content: center;
    align-items: center;
}

.help {
    z-index: 99999;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
    overflow: hidden;
}

.c-help-btn {
    text-align: right;
    padding: 10px;
}

._w-warm-btn {
    border: 1px dashed var(--ginger);
    background-color: rgba(19, 19, 19, .15);
    border-radius: 5000px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(19, 19, 19, .15);
}

    ._w-warm-btn.menu-toggle {
        position: relative;
        overflow: hidden;
    }

.b-warm-btn {
    background-image: linear-gradient(45deg, var(--okonomiyaki), var(--ginger));
    border-radius: 5000px;
    align-items: center;
    padding: 12px;
    display: flex;
}

    .b-warm-btn.open-menu {
        opacity: 0;
        display: none;
        position: absolute;
    }

    .b-warm-btn.close-menu {
        position: relative;
    }

.icon {
    z-index: 500;
    height: 25px;
}

.c-btn-text {
    perspective-origin: 0%;
    transform-origin: 0%;
    overflow: hidden;
}

.btn-text {
    font-family: var(--fnt-button);
    color: var(--white);
    font-size: var(--fnt-button-size);
    white-space: nowrap;
    padding-left: 12px;
    font-weight: 900;
}

.c-btn-link {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.b-nav-dropdown {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 500px;
    padding: 3px;
    transition: all .25s;
}

.c-nav-dropdown-link {
    color: #333;
    text-transform: none;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: .9em;
    line-height: 1.2em;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
}

.c-warm-btn {
    text-align: right;
    padding: 10px;
    position: relative;
}

    .c-warm-btn.faq {
        margin-top: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

.c-faq {
    z-index: 99999;
    align-items: flex-start;
    width: 400px;
    padding: 10px;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

._w-faq {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(19, 19, 19, .2);
}

.c-howto-header {
    padding-right: 40px;
}

.howto-header {
    color: var(--okonomiyaki);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.4em;
}

.c-howto-divider {
    border-bottom: 1px dashed #eee;
    width: 100%;
    height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.b-faq {
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.c-howto-list {
    padding-left: 20px;
    list-style-type: square;
}

.c-howto-list-item {
    margin-bottom: 30px;
}

.howto-list-item-text {
    line-height: 1.2em;
}

.howto-list-item-img {
    border-radius: 5px;
    overflow: hidden;
}

.c-howto-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    bottom: auto;
    left: auto;
    right: 10px;
}

._w-howto-close {
    background-color: #333;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 8px;
    display: flex;
}

.c-magnetic-btn-link {
    z-index: 100;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.c-menu {
    padding-top: 20px;
    padding-bottom: 10px;
}

.c-help-open-nav {
    display: block;
    position: relative;
    overflow: hidden;
}

.c-created {
    z-index: 99998;
    opacity: .75;
    cursor: pointer;
    transition: all .25s;
}

    .c-created:hover {
        opacity: 1;
    }

._w-created {
    background-color: #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
    padding: 7px 12px;
    text-decoration: none;
    transition: all .25s;
    display: flex;
}

    ._w-created:hover {
        padding-top: 15px;
    }

.logo {
    height: 15px;
    margin-right: 5px;
}

.c-created-link {
    color: #fff;
    letter-spacing: .5px;
    font-size: .6em;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
}

.co-created {
    z-index: 99998;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 10px;
    overflow: hidden;
}

.c-header {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300vh;
}

.header {
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
    height: 30vh;
    margin: 0 auto;
    font-size: 5em;
    line-height: 1em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.c-lottie {
    height: 500vh;
}

.lottie {
    width: 100%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.c-main-banner {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.main-header {
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3em;
    line-height: 1em;
}

.ginger {
    color: var(--ginger);
}

._w-main-header {
    width: 100%;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.details {
    color: #ccc;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
}

.section {
    width: 100%;
    height: 100%;
}

.c-cold-btn {
    text-align: right;
    padding: 10px;
    position: relative;
}

    .c-cold-btn.faq {
        margin-top: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

._w-cold-btn {
    border: 1px dashed var(--spring-onion);
    opacity: 1;
    background-color: rgba(19, 19, 19, .15);
    border-radius: 5000px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(19, 19, 19, .15);
}

    ._w-cold-btn.menu-toggle {
        position: relative;
        overflow: hidden;
    }

.b-cold-btn {
    background-image: linear-gradient(45deg, var(--sea-weed), var(--spring-onion));
    border-radius: 5000px;
    align-items: center;
    padding: 12px;
    display: flex;
}

    .b-cold-btn.open-menu {
        opacity: 0;
        display: none;
        position: absolute;
    }

    .b-cold-btn.close-menu {
        position: relative;
    }

.radish {
    color: var(--radish);
}

.okonomiyaki {
    color: var(--okonomiyaki);
}

.body {
    background-color: var(--grey6);
    color: var(--mayonese);
}

.black {
    color: var(--black);
}

.pancake {
    color: var(--pancake);
}

.nayonese {
    color: var(--mayonese);
}

.agenda-scroller-wrapper {
    pointer-events: none;
    cursor: default;
    mix-blend-mode: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 100%;
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
}

.scroll-track {
    height: 300vh;
    position: relative;
}

.scroll-div {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-auto-rows: 1fr;
    grid-auto-columns: 10%;
    grid-auto-flow: row;
    align-content: stretch;
    justify-content: stretch;
    align-self: center;
    justify-items: stretch;
    width: 100%;
    height: 100vmin;
    margin: auto;
    display: grid;
    position: static;
}

.div-block {
    background-color: var(--radish);
}

.grid-block {
    border: 1px solid var(--grey3);
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 180%;
    max-width: 180%;
    height: 180%;
    position: absolute;
    top: -40%;
    left: -40%;
    overflow: hidden;
}

.code-block {
    font-size: .75em;
}

.section-2 {
    background-color: var(--grey6);
    color: var(--mayonese);
    z-index: 100;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
    margin-top: -132px;
    font-size: 20px;
    display: flex;
    position: static;
    top: 0;
    overflow: hidden;
}

.agenda-wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
}

.agenda-item-music {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--grey6);
    grid-template-rows: auto;
    grid-template-columns: 1fr 100px 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 7px;
    display: grid;
}

.agenda-item-left {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
}

.agenda-item-center {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.agenda-item-right {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.agenda-event-music {
    color: var(--ginger);
    text-align: center;
    text-transform: uppercase;
    object-fit: fill;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 64px;
    font-weight: 900;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 45vh;
}

.agenda-date {
    color: var(--radish);
    text-align: right;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 43px;
    font-size: 48px;
    font-weight: 900;
    position: -webkit-sticky;
    position: sticky;
    top: 42.5vh;
}

.div-block-2 {
    background-color: var(--mayonese);
    border: 1px dotted #000;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 18px auto auto;
    display: block;
}

.agenda-location {
    color: var(--radish);
    text-align: right;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 24px;
    position: -webkit-sticky;
    position: sticky;
    top: 46.7vh;
}

.body-2 {
    background-color: var(--grey5);
}

.agenda-organizer-music {
    color: var(--ginger);
    text-align: right;
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: -27px;
    font-size: 16px;
    font-weight: 400;
    position: -webkit-sticky;
    position: sticky;
    top: 41vh;
}

.agenda-header {
    color: var(--grey6);
    text-align: center;
    text-transform: uppercase;
    object-fit: fill;
    z-index: 1000;
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 43.6vh;
    font-weight: 900;
    position: static;
    top: 45vh;
}

.agenda-header-wrapper {
    pointer-events: none;
    color: var(--mayonese);
    cursor: default;
    z-index: 100;
    background-color: rgba(16, 16, 16, 0);
    justify-content: center;
    align-items: flex-end;
    height: 25vh;
    margin-top: 0;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 16.5vh;
    overflow: hidden;
}

.agenda-year-wrapper {
    pointer-events: none;
    color: var(--mayonese);
    cursor: default;
    z-index: 100;
    background-color: rgba(16, 16, 16, 0);
    justify-content: center;
    align-items: flex-end;
    height: auto;
    margin-top: 0;
    margin-bottom: 13px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 6vh;
    overflow: visible;
}

.agenda-year {
    color: var(--grey6);
    text-align: center;
    text-transform: uppercase;
    object-fit: fill;
    z-index: 1000;
    margin-top: 49px;
    margin-bottom: 25px;
    font-size: 16vh;
    font-weight: 900;
    position: static;
    top: 16.5vh;
}

.agenda-icon {
    background-color: var(--mayonese);
    border: 1px dotted #000;
    border-radius: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 18px auto auto;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.agenda-icon-music-fest {
    color: var(--c2);
    align-self: center;
    width: 3rem;
    height: 3rem;
    margin-top: 12px;
    font-size: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 42vh;
}

    .agenda-icon-music-fest:hover {
        cursor: pointer;
    }

.agenda-icon-food-fest {
    color: var(--c2);
    align-self: center;
    width: 3rem;
    height: 3rem;
    margin-top: 12px;
    font-size: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 42vh;
}

    .agenda-icon-food-fest:hover {
        cursor: pointer;
    }

.svg-icon {
    width: 2rem;
    height: 2rem;
}

    .svg-icon:hover {
        cursor: pointer;
    }

.timeline-date-food {
    color: var(--spring-onion);
    text-align: right;
    text-transform: capitalize;
    margin-top: 6px;
    margin-bottom: 43px;
    font-size: 48px;
    font-weight: 900;
    position: -webkit-sticky;
    position: sticky;
    top: 42.5vh;
}

.timeline-location-food {
    color: var(--radish);
    text-align: right;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 24px;
    position: -webkit-sticky;
    position: sticky;
    top: 46.7vh;
}

.agenda-event-food {
    color: var(--spring-onion);
    text-align: center;
    text-transform: uppercase;
    object-fit: fill;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 64px;
    font-weight: 900;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 45vh;
}

.agenda-organizer-food {
    color: var(--spring-onion);
    text-align: right;
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: -27px;
    font-size: 16px;
    font-weight: 400;
    position: -webkit-sticky;
    position: sticky;
    top: 41vh;
}

.agenda-item-food {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--grey6);
    grid-template-rows: auto;
    grid-template-columns: 1fr 100px 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 7px;
    display: grid;
}

.spacer-30vh {
    pointer-events: none;
    cursor: default;
    height: 30vh;
    margin-top: 0;
}

.section-background {
    pointer-events: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: -100vh;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.blazor-agendaitemmusic {
    width: 100%;
}

.section-background-content {
    background-size: cover;
    background-position: center top;
    object-fit: cover;
    flex: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 991px) {
    ._w-main-header {
        text-align: center;
        max-width: 60vw;
    }
}

@media screen and (max-width: 767px) {
    .c-faq {
        width: 100%;
    }

    .header {
        max-width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 4em;
    }

    .c-main-banner {
        padding-left: 5%;
        padding-right: 5%;
    }

    .main-header {
        max-width: 100vw;
    }

    ._w-main-header {
        max-width: 70vw;
    }
}

@media screen and (max-width: 479px) {
    .c-header {
        height: 200vh;
    }

    .header {
        font-size: 3em;
    }

    .c-lottie {
        height: 300vh;
    }

    .main-header {
        font-size: 2em;
        line-height: 1.2em;
    }

    ._w-main-header {
        max-width: 100vw;
    }

    .details {
        color: #ccc;
        text-align: center;
    }
}

#w-node-_87e7078d-6646-ea05-5ddb-4df707c42534-35c438a3 {
    grid-area: 4 / 4 / 7 / 7;
}

#w-node-_6f607d57-6a41-f842-bb2d-ba3624a379fb-35c438a3 {
    grid-area: 1 / 4 / 4 / 6;
}

#w-node-_25803d3e-6967-e3f6-8ab7-6d05a3cae1e6-35c438a3 {
    grid-area: 2 / 2 / 5 / 4;
}

#w-node-_42ba8718-4614-8e3d-e6a6-fd4627941999-35c438a3 {
    grid-area: 2 / 6 / 4 / 9;
}

#w-node-_3e92fd4f-8faa-0b87-4b59-90af9977da89-35c438a3 {
    grid-area: 4 / 7 / 6 / 9;
}

#w-node-fd5ea35f-81b3-ba0f-3087-6f9d5ef91442-35c438a3 {
    grid-area: 6 / 7 / 8 / 10;
}

#w-node-ff180fc9-3a02-9053-c2c9-73e4e04c8489-35c438a3 {
    grid-area: 5 / 1 / 7 / 4;
}

#w-node-a4b32371-7d32-449c-910e-6c3218dbab2e-35c438a3 {
    grid-area: 7 / 5 / 9 / 7;
}

#w-node-_99001044-6113-c590-cb02-fd46c66b6815-35c438a3 {
    grid-area: 7 / 3 / 10 / 5;
}
