@namespace web_test_blazer_server.Shared.Airtable

@inherits ABase;

@{
    base.BuildRenderTree(__builder);
}



<Button Color="Color.Light" Clicked="@OnInvoke">
    <Icon Name="IconName.Table" />
</Button>