@namespace web_test_blazer_server.Shared.Airtable

@inherits ABaseBookmark;

@{
    base.BuildRenderTree(__builder);
}



<Button Color="@IconColor" Clicked="@OnInvoke">
    <Icon Name="IconName.Star" />
</Button>